.first{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

img{
    width: 100%;
}

/* .description{
    height: 100px;
    width: 100px;
    display: inline-block;
    border-style: solid;
    border-color: black;
} */