div{
    height: 75px;
    width: 100%;
    border: 2px solid black;
    background-color: wheat;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    
}

a{
    font-size: 24px;
    margin: 15px;
    height: 50px;
    width: 80px;
}