h2{
    color: orange;
}

button{
    color: white;
    background-color: #0000FF;
}

p{
    color: white;
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
    line-height: 30px;
}
h4{
    text-align: center;
}

a{
    text-decoration: none;
}

textarea{
    color: black;
}

span{
    text-decoration: underline; 
}