h1{
    text-align: center;
    text-decoration: aqua underline;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    text-align: justify;
    font-weight: 100;
    line-height: 1.4;
    font-size: 20px;
}

h2{
    text-decoration: double overline;
}

h3{
    font-weight: 400;
    text-decoration: white line-through;

}