h2{
    text-align: center;

}

#rainbow{
    height: 300px;
    width: 70%;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

#rainbow div{
    height: 100px;
    width: 100px;
    text-align: center;
    size: 2rem;

}

#container{
    height: 300px;
    width: 70%;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    align-items: center;
}

#container div{
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;


}