div{
    height: 100px;
    width: 100px;
    background-color: wheat;
    display: inline-block;
    margin: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#static{
    position: static;
    top: 200px;
    left: 200px;
    background-color: blue;
}

#relative{
    background-color: blue;
    position: relative;
    top: 50px;
    left: 50px;
    
}

#Absolute{
    background-color: grey;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed{
    background-color: yellow;
    position: fixed;
    top: 100px;
    left: 100px;
}