<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, excepturi esse? Numquam ex quod sit ut commodi
        iure veritatis, dolore vitae ducimus quasi assumenda doloremque harum esse consequatur. Perspiciatis, accusamus?
    </p>
    <button>click me</button>
</body>

</html>